<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/primefaces.css" />
	<title>#{msg.central_pagina_inicial}</title>
	<script type="text/javascript">
    PrimeFaces.locales['pt'] = {
        closeText: 'Fechar',
        prevText: 'Anterior',
        nextText: 'Seguinte',
        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dec'],
        dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
        weekHeader: 'Semana',
        firstDayOfWeek: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        timeOnlyTitle: 'Somente hora',
        timeText: 'Tempo',
        hourText: 'Hora',
        minuteText: 'Minuto',
        secondText: 'Segundo',
        currentText: 'Fecha atual',
        ampm: false,
        month: 'Mês',
        week: 'Semana',
        day: 'Dia',
        allDayText: 'Todo o dia'
    };
	</script>

	<script type="text/javascript">
    //<![CDATA[
	    function dateTemplateFunc(date) {
	        return '<span style="background-color:' + ((date.day < 21 && date.day > 10) ? '#81C784' : 'inherit') + ';border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">' + date.day + '</span>';
	    }
    //]]>
	</script>

	<style type="text/css">
		.value {
			font-weight: bold;
		}
	</style>
</h:head>

<f:view>
	<div class="container" style="margin-top:30px">
		<div class="row">
			<h:form>
			<div class="col-md-2" style="border: 1px solid #e3e3e3; border-radius: 4px;">
				<ul class="nav nav-pills nav-stacked">
					<li>
					  <h:outputLabel value="Você está logado como: #{loginMB.usuario.nome}"/>
               	    </li>
				    <li>
		              <label>Módulo de Cadastro de Incidente e Problemas</label>
               	    </li>
	                <li>
		                <h:link value="Cadastro de Incidente/Problema" outcome="/privado/listagemOcorrencias.jsf">
							<i class="fa fa-list-alt fa-fw"/>
		                </h:link>
	                </li>
	                <li>
		                <h:link value="Cadastro de não-conformidade" outcome="/privado/listagemNaoConformidade.jsf">
							<i class="fa fa-list-alt fa-fw"/>
		                </h:link>
	                </li>
	                <li>
		                <h:link value="Consulta de normas" outcome="/privado/consultanormas.jsf">
							<i class="fa fa-list-alt fa-fw"/>
		                </h:link>
	                </li>
	                <li>
	                  <h:commandLink value="Logout" actionListener="#{loginMB.logout}">
							<i class="fa fa-list-alt fa-fw"/>
	                  </h:commandLink>
	                </li>
            	</ul>
           
			</div>
			</h:form>
			<div class="col-md-7 well" style="background-color:#ffffff">
				<ui:insert name="content"/>
			</div>
		</div>
	</div>
	<script src="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7-dist/js/bootstrap.min.js" />
</f:view>

</html>
