<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<h:form id="formCadastraProblema" preprendId="false"
						class="form-horizontal">
						<p:growl id="messages" autoUpdate="true" showDetail="true" />
						<h3>Cadastro de problema/incidente</h3>
						<div class="form-group">
							<label class="cols-sm-2 control-label" for="tipo"> Tipo </label>
							<div class="input-group">
								<p:selectOneMenu id="tipo" name="tipo" style="width:125px;" value="#{ocorrenciaMB.ocorrencia.tipoOcorrencia}" converter="tipoOcorrenciaConverter">
									<f:selectItem itemLabel="Incidente" itemValue="INCIDENTE" />
									<f:selectItem itemLabel="Problema" itemValue="PROBLEMA" />
								</p:selectOneMenu>
							</div>
							<label class="cols-sm-2 control-label">
								Data </label>
							<div class="input-group">
								<p:datePicker id="popup" value="#{ocorrenciaMB.ocorrencia.dataOcorrencia}"></p:datePicker>
							</div>
							<label class="cols-sm-2 control-label" for="descricao" >
								Descrição </label>
							<div class="input-group">
								<p:inputTextarea id="descricao" name="descricao"
									required="true"
									requiredMessage="O campo descrição é requerido."
									value="#{ocorrenciaMB.ocorrencia.descricao}" />
							</div>
							<div class="form-group" style="padding-left:15px">
								<h:commandButton class="btn btn-primary" value="Confirmar" actionListener="#{ocorrenciaMB.cadastrarOcorrencia}"/>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>