<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="content">
	
	<div class="container">
		<div class="row main">
			<h:form id="formConsultaNormas" class="form-horizontal">
				<p:growl id="messages" autoUpdate="true" showDetail="true" />
				<h3>Consulta de normas</h3>
				<div class="form-group">
					<label class="cols-sm-2 control-label" for="normas"> Sigla da norma </label>
					<div class="input-group">
						<p:selectOneMenu id="normas" name="normas" style="width:125px;" value="#{normaMB.localidadeNorma}" converter="localidadeNormaConverter">
							<f:selectItem itemLabel="Nacional" itemValue="NACIONAL" />
							<f:selectItem itemLabel="Internacional" itemValue="INTERNACIONAL" />
						</p:selectOneMenu>
					</div>
					<br/>
						<h:commandButton class="btn btn-primary" value="Consultar" actionListener="#{normaMB.consultaNorma}"/>
					<br/>
				</div>
			</h:form>
		</div>
	</div>
	<div class="main-login main-center">
		<p:dataTable id="tableNormas" var="norma" rendered="#{not empty normaMB.normas}"
			value="#{normaMB.normas}" rowKey="#{norma.id}"
			style="margin-bottom:0"
			emptyMessage="Nenhuma norma">
			<f:facet name="header"><span style="color:#337ab7;font-size:150%">Normas</span></f:facet>
			<p:column headerText="Nome" style="color:#337ab7;text-align:center">
				<h:outputText value="#{norma.nome}" style="color:#000000"/>
			</p:column>
			<p:column headerText="Descrição" style="color:#337ab7;text-align:center">
				<h:outputText value="#{norma.descricao}" style="color:#000000"/>
			</p:column>
			<p:column headerText="Categoria" style="color:#337ab7;text-align:center">
				<h:outputText converter="categoriaNormaConverter" value="#{norma.categoria}" style="color:#000000"/>
			</p:column>
		</p:dataTable>
	</div>
	</ui:define>
</ui:composition>