<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		
		<div class="main-login main-center">
			<h:form id="form" prependId="false">
				<p:growl id="messages" showDetail="true" autoUpdate="true"/>
				<p:outputLabel rendered="#{empty ocorrenciaMB.ocorrencias}">Nenhum registro</p:outputLabel>
				<p:dataTable id="tableOcorrencias" var="ocorrencia" rowKey="#{ocorrencia.idOcorrencia}"
					rendered="#{!empty ocorrenciaMB.ocorrencias}"
					value="#{ocorrenciaMB.ocorrencias}"
					selection="#{ocorrenciaMB.ocorrenciasSelecionadas}" 
					style="margin-bottom:0;text-align:center"
					emptyMessage="Nenhum registro.">
					<f:facet name="header"><span style="color:#337ab7;font-size:150%">Problemas/Incidentes</span></f:facet>
					<p:column selectionMode="multiple" style="width:30px;text-align:center" />
					<p:column headerText="Tipo" style="color:#337ab7;text-align:center">
						<h:outputText value="#{ocorrencia.tipoOcorrencia}" converter="tipoOcorrenciaConverter" style="color:#000000"/>
					</p:column>
					<p:column headerText="Data abertura" style="color:#337ab7;text-align:center">
						<h:outputText value="#{ocorrencia.dataOcorrencia}" style="color:#000000">
							<f:convertDateTime pattern="dd/MM/yyyy"/>
						</h:outputText>
					</p:column>
					<p:column headerText="Editar" style="color:#337ab7;text-align:center">
						<p:commandButton styleClass="btn btn-primary" process="tableOcorrencias" immediate="true" action="#{ocorrenciaMB.editarOcorrencia}" icon="ui-icon-pencil" title="Editar">
							<f:setPropertyActionListener value="#{ocorrencia}" target="#{ocorrenciaMB.ocorrenciaSelecionada}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Excluir" style="color:#337ab7;text-align:center">
						<p:commandButton styleClass="btn btn-primary" process="tableOcorrencias" immediate="true" action="#{ocorrenciaMB.excluirOcorrencia}" icon="ui-icon-trash" title="Excluir">
							<f:setPropertyActionListener value="#{ocorrencia}" target="#{ocorrenciaMB.ocorrenciaSelecionada}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<br/>
				<h:commandButton class="btn btn-primary" value="Cadastrar" action="/privado/cadastroOcorrencia.jsf"/>
			</h:form>
		</div>
	</ui:define>

</ui:composition>