<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<div class="main-login main-center">
		
		<h:form id="form" prependId="false">
			<p:growl id="messages" showDetail="true" autoUpdate="true"/>
			<p:outputLabel rendered="#{empty naoConformidadeMB.naoConformidades}">Nenhum registro</p:outputLabel>
			<p:dataTable id="tableNaoConformidades" var="naoConformidade" rendered="#{!empty naoConformidadeMB.naoConformidades}"
				value="#{naoConformidadeMB.naoConformidades}" rowKey="#{naoConformidade.idNaoConformidade}"
				selection="#{naoConformidadeMB.naoConformidadesSelecionadas}" 
				style="margin-bottom:0"
				emptyMessage="Nenhuma não-conformidade.">
				<f:facet name="header"><span style="color:#337ab7;font-size:150%">Não Conformidades</span></f:facet>
				<p:column selectionMode="multiple" style="width:30px;text-align:center" />
				<p:column headerText="Prioridade" style="color:#337ab7;text-align:center">
					<h:outputText value="#{naoConformidade.prioridade.descricao}" style="color:#000000"/>
				</p:column>
				<p:column headerText="Responsáveis" style="color:#337ab7;text-align:center">
					<h:outputText value="#{naoConformidade.responsaveis}" style="color:#000000"/>
				</p:column>
				<p:column headerText="Excluir" style="color:#337ab7;text-align:center">
					<p:commandButton process="tableNaoConformidades" immediate="true" action="#{naoConformidadeMB.excluiNaoConformidade}" icon="ui-icon-trash" title="Excluir">
						<f:setPropertyActionListener value="#{naoConformidade}" target="#{naoConformidadeMB.naoConformidadeSelecionada}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Editar" style="color:#337ab7;text-align:center">
					<p:commandButton styleClass="btn btn-primary" immediate="true" action="#{naoConformidadeMB.editarNaoConformidade}" icon="ui-icon-pencil" title="Editar">
						<f:setPropertyActionListener value="#{naoConformidade}" target="#{naoConformidadeMB.naoConformidadeSelecionada}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
			<br/>
			<h:commandButton class="btn btn-primary" value="Cadastrar" action="/privado/cadastronaoconformidade.jsf"/>
		</h:form>
		</div>
	</ui:define>

</ui:composition>