<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/custom.css"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	<title>Login</title>
</h:head>
<h:body>
		<div class="container">	
			<div class="row main">
				<div class="panel-title text-center">
					<h1 style="font-size:30px">Login</h1>
					<hr/>
				</div>
			</div>
		</div>
		<div class="main-login main-center">
			<h:form prependId="false" class="form-horizontal">
			<p:growl id="messages" autoUpdate="true"/>
				<div class="form-group">
					<label class="cols-sm-2 control-label" for="username">Usuário</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							</span>
							<p:inputText id="username" class="form-control"
								required="true" requiredMessage="O usuário é requerido."
								value="#{loginMB.username}"
								size="30" />
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="cols-sm-2 control-label" for="password">Senha</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock" aria-hidden="true"/>
							</span>
							<p:password id="password" class="form-control"
								required="true" requiredMessage="A senha é requerida."
								value="#{loginMB.password}"
								size="30" />
						</div>
					</div>
				</div>
				<div class="form-group" style="text-align: center;">
					<p:commandButton styleClass="btn btn-primary" value="Login" action="#{loginMB.login}"/>
				</div>
				
			</h:form>
				
		</div>
		
		<script src="#{facesContext.externalContext.requestContextPath}/resources/bootstrap-3.3.7-dist/js/bootstrap.min.js" />
</h:body>
</html>
